* {
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2a1b57 #11072f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #11072f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2a1b57;
    border-radius: 10px;
    border: 0px none #ffffff;
  }

body{
    background-color: black;
    display: flex;
    justify-content: center;

}

.Container {
    background-color: #11072f;
    color: white;
    width: 75vw;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-logo {
    padding-top: 60px;
    padding-bottom: 30px;
}

