
.Liked{
    border: 1px solid #39266d;
    width: 86%;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .Liked{
        width: 65%;
    }
}

.nav-heart {
    padding-top: 2px;
    height: 17px;
    width: 21px;
}

.liked-heart{
    height: 35px;
}

.HeroesBox {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}